.header {
    text-align: center;
    width: 100%;
    color: #311b92 ;
    background-color: #b2ebf2;
    padding: 1rem;
}

.row{
    background-color: #e0f7fa;
}

body{
    background-image: linear-gradient(to right,#03a9f4,#009688 );
}

label {
    font-size: 1.5rem;
}

.waves-effect.waves-light.btn-small {
    margin: .2em;
}

span {
    font-weight: 700;
    font-size: 200%;
    margin: .2em;
    padding: .2em;
}